/**
 * As this is defined in a module, it cannot be currently used elsewhere unless
 * explicitly imported. This is a poor name that would clearly collide with
 * other frameworks if they're brought in. In the future, as a style
 * architecture unfolds, this should be moved to a common set of base classes
 * that can be used from a global namespace or global module.
 */

.container {
  align-content: center;
  display: flex;
  justify-content: center;
}
